h3 {
  color: #ec5355;
}

body {
  background-color: #ec5355;
}
body a {
  color: white;
}
body header {
  background-color: white;
}
body header .wrapper .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body header .wrapper .row .col-md-3, body header .wrapper .row .col-md-4, body header .wrapper .row .col-md-5 {
  padding: 0;
  display: flex;
  justify-content: center;
}
body header .wrapper .row .col-md-5 {
  font-size: 1.2rem;
}
body header .wrapper .row .col-md-5 .icon-bar {
  display: flex;
  flex-direction: row;
}
body header .wrapper .row .col-md-5 .icon-bar a {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: solid gray 1px;
  padding: 0 1rem 0 1rem;
}
body header .wrapper .row .col-md-5 .icon-bar a i {
  color: #ec5355;
}
body header a {
  color: gray;
}
body header .nav, body header .nav-tabs {
  background-color: #ec5355;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  border: 0;
}
body header .nav a, body header .nav-tabs a {
  color: white;
}
body .row {
  margin: 0;
}

.searchSection {
  display: flex;
  flex-direction: row;
  background-color: #ec5355;
  gap: 0.3rem;
  border: #ec5355 solid 0.3rem;
  border-radius: 0.5rem;
  width: -moz-min-content;
  width: min-content;
}
.searchSection input {
  background-color: #ec5355;
  border: none;
  color: white;
}
.searchSection input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.467);
}
.searchSection input::placeholder {
  color: rgba(255, 255, 255, 0.467);
}
.searchSection .form-control {
  width: -moz-fit-content;
  width: fit-content;
}
.searchSection > span {
  width: -moz-fit-content;
  width: fit-content;
}
.searchSection .dropdown-menu {
  background-color: #ec5355;
}
.searchSection .dropdown-menu a {
  color: white;
}

nav ul li a:hover {
  color: #ec5355;
}

.dropdown-menu {
  background-color: #ec5355;
}
.dropdown-menu a {
  color: white;
}

#myCarousel .carousel-indicators {
  background-color: gray;
  width: 100%;
  margin: 0;
  height: 4rem;
  bottom: 0;
  left: 0;
  align-content: center;
  opacity: 0.6;
}
#myCarousel .carousel-indicator-content {
  position: absolute;
  width: 100%;
  height: 4rem;
  bottom: 0;
  left: 0;
  align-content: center;
  z-index: 16;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  margin: 0 0 0 1rem;
}
#myCarousel .carousel-inner div > img {
  width: 100%;
}

.news_class {
  background-color: white;
  margin: 2rem 0 2rem 0;
}
.news_class .verticalSlide {
  padding: 0 6rem 0 6rem;
  display: grid;
  grid-template-columns: auto auto;
}
.news_class .verticalSlide .slick-list {
  grid-row: 1/2;
  grid-column: 2/3;
}
.news_class .verticalSlide .slick-list .item.slick-slide a section {
  display: flex;
  justify-content: center;
  height: 40rem;
  padding: 5rem;
}
.news_class .verticalSlide .slick-list .item.slick-slide a section img {
  width: 60rem;
  aspect-ratio: 16/9;
  align-content: center;
}
.news_class .verticalSlide .slick-list .item.slick-slide a section h3 {
  padding: 2rem;
  width: 40%;
  font-size: 2rem;
  align-content: center;
}
.news_class .verticalSlide .slick-dots {
  grid-row: 1/2;
  grid-column: 1/2;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style-type: none;
}
.news_class .verticalSlide .slick-dots li button {
  border: none;
  background-color: #ffaaac;
  border-radius: 20rem;
  color: transparent;
}
.news_class .verticalSlide .slick-dots li.slick-active > button {
  background-color: #ec5355;
}
.news_class .owl-carousel-best {
  padding: 6rem;
}
.news_class .owl-carousel-best .item a {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.news_class .owl-carousel-best .item a h3 {
  font-size: 1.8rem;
  margin: 1rem 0 2rem 0;
}
.news_class .owl-carousel-best .item a table a {
  color: #3c66ac;
}
.news_class .owl-carousel-best .item a table h4, .news_class .owl-carousel-best .item a table .right {
  text-align: right;
}
.news_class .owl-carousel-best .item a .table_font {
  color: black;
  font-size: 1.5rem;
}
.news_class .owl-carousel-best .item a .table_font i {
  margin: 0.5rem;
}

.videoSection {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto auto;
  padding: 0 5rem 5rem 5rem;
}
.videoSection h3 {
  grid-column: 1/3;
  grid-row: 1/2;
}
.videoSection .bgFigure {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: #ec5355;
  border-radius: 50rem 0 0 0;
  aspect-ratio: 16/9;
}
.videoSection iframe {
  grid-column: 1/2;
  grid-row: 2/3;
  width: 100%;
  padding: 2rem;
  aspect-ratio: 16/9;
}
.videoSection .verticalSlideRight .cards {
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: auto auto;
  height: 35rem;
  padding: 1rem;
}
.videoSection .verticalSlideRight .cards a {
  display: block;
  padding: 2rem;
}
.videoSection .verticalSlideRight .cards a img {
  width: 100%;
  border-radius: 1rem;
}
.videoSection .verticalSlideRight .cards .slick-dots {
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style-type: none;
}
.videoSection .verticalSlideRight .cards .slick-dots li button {
  border: none;
  background-color: #ffaaac;
  border-radius: 20rem;
  color: transparent;
}
.videoSection .verticalSlideRight .cards .slick-dots li.slick-active > button {
  background-color: #ec5355;
}

.new_class_titfont {
  color: #ec5355;
  text-align: center;
  font-size: 30px;
  padding: 2rem 0 5rem 0;
  margin: 0;
}

.owl-carousel-recommend {
  padding: 6rem;
}
.owl-carousel-recommend .item a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.owl-carousel-recommend .item a h3 {
  font-size: 1.8rem;
  margin: 1rem 0 2rem 0;
}
.owl-carousel-recommend .item a h4 {
  font-size: 1.5rem;
}

footer {
  text-align: center;
  color: white;
}
footer .callAction {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .callAction h3 {
  font-size: 1.5rem;
  color: white;
  margin: 0;
}
footer .callAction .input-group-btn {
  display: flex;
  flex-direction: row;
  width: -moz-fit-content;
  width: fit-content;
}
footer .callAction .input-group-btn .btn {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 1rem;
  color: white;
  background-color: black;
  border-radius: 0;
  margin-right: 1rem;
}
footer .contact {
  margin: 2rem;
  padding-top: 2rem;
  background-color: white;
}
footer .contact p {
  color: black;
}

.btn_class {
  background-color: white;
  color: #3c66ac;
  border: 1px solid #3c66ac;
  font-size: 15px;
}

@media only screen and (max-width: 750px) {
  header .col-md-5 {
    margin: 1rem;
  }
  .wrapper > .row {
    flex-direction: column !important;
  }
  .verticalSlide {
    padding: 1rem !important;
  }
  .verticalSlide .item.slick-slide a section {
    flex-direction: column;
    padding: 1rem !important;
  }
  .verticalSlide .item.slick-slide a section img {
    width: 100% !important;
  }
  .verticalSlide .item.slick-slide a section h3 {
    width: 100% !important;
    font-size: 1rem !important;
  }
  .bgFigure {
    display: none;
  }
  .videoSection {
    display: flex;
    flex-direction: column;
    padding: 0 1rem 0 1rem;
  }
  .videoSection iframe {
    margin: 0;
    padding: 1rem;
    height: 30vh !important;
    border: solid #ec5355 1.5rem;
    border-radius: 2rem;
  }
  .owl-carousel-new {
    height: 70vh;
    padding: 1rem !important;
  }
  .owl-carousel-best, .owl-carousel-recommend {
    padding: 1rem !important;
  }
  .callAction {
    flex-direction: column;
    gap: 1rem;
  }
}/*# sourceMappingURL=broccoli-style.css.map */