h3 {
  color: #ec5355;
  font-weight: 900;
}

body {
  background-color: #ec5355;
  overflow-x: hidden;
}
body a {
  color: white;
}
body header {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body header .wrapper .row {
  width: 100%;
  height: 12vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body header .wrapper .row img {
  width: 100%;
}
body header .wrapper .row .col-md-2, body header .wrapper .row .col-md-4 {
  padding: 0;
  display: flex;
  justify-content: center;
}
body header .wrapper .row .col-md-2.social {
  justify-content: space-evenly;
}
body header .wrapper .row .col-md-4.info {
  font-size: 1.2rem;
}
body header .wrapper .row .col-md-4.info .icon-bar {
  display: flex;
  flex-direction: row;
}
body header .wrapper .row .col-md-4.info .icon-bar a {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: solid gray 1px;
  padding: 0 1rem 0 1rem;
}
body header .wrapper .row .col-md-4.info .icon-bar a i {
  color: #ec5355;
}
body header a {
  color: gray;
}
body header nav {
  background-color: #ec5355;
  width: 100%;
  border-bottom: solid 1rem white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body header nav ul.nav.nav-tabs {
  all: unset;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body header nav ul.nav.nav-tabs::before, body header nav ul.nav.nav-tabs::after {
  all: unset;
}
body header nav .nav-tabs {
  border-bottom: none !important;
}
body header nav a {
  all: unset;
  color: white;
  cursor: pointer;
}
body header nav a:hover, body header nav a:active, body header nav a:focus {
  background-color: white !important;
  border-radius: 0%;
}
body .row {
  margin: 0;
}
body footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body footer .contact {
  width: 100vw;
}
body footer a.line {
  display: block;
  position: fixed;
  bottom: 3rem;
  right: 2.5rem;
  width: 5%;
  z-index: 2;
}
body footer a.line img {
  width: 100%;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.searchSection {
  all: unset;
  display: flex;
  flex-direction: row;
  background-color: #ec5355;
  gap: 0.3rem;
  border: #ec5355 solid 0.3rem;
  border-radius: 0.5rem;
}
.searchSection button.dropdown-toggle {
  all: unset;
  width: 8rem;
  height: 3rem;
  background-color: white;
  text-align: center;
  color: rgb(197, 197, 197);
}
.searchSection button.search {
  all: unset;
  text-align: center;
  width: 3rem;
  height: 3rem;
  background-color: rgb(197, 197, 197);
  color: gray;
  font-size: 1rem;
}
.searchSection input {
  all: unset;
  background-color: white;
  border: none;
  color: white;
  width: -moz-max-content;
  width: max-content;
}
.searchSection input::-moz-placeholder {
  color: #ffaaac;
  padding: 0 1rem 0 1rem;
}
.searchSection input::placeholder {
  color: #ffaaac;
  padding: 0 1rem 0 1rem;
}
.searchSection .form-control {
  width: 20rem;
}
.searchSection > span {
  width: -moz-fit-content;
  width: fit-content;
}
.searchSection .dropdown-menu {
  background-color: #ec5355;
}
.searchSection .dropdown-menu a {
  color: white;
}

nav ul li a:hover {
  color: #ec5355;
}

.dropdown-menu {
  background-color: #ec5355;
}
.dropdown-menu a {
  color: white;
}

#myCarousel .carousel-indicators {
  background-color: gray;
  width: 100%;
  margin: 0;
  height: 4rem;
  bottom: 0;
  left: 0;
  align-content: center;
  opacity: 0.6;
}
#myCarousel .carousel-indicator-content {
  position: absolute;
  width: 100%;
  height: 4rem;
  bottom: 0;
  left: 0;
  align-content: center;
  z-index: 16;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  margin: 0 0 0 1rem;
}
#myCarousel .carousel-inner div > img {
  height: 80vh;
}

.news_class {
  width: 64%;
  background-color: white;
}
.news_class .verticalSlide {
  padding: 0 6rem 0 6rem;
  display: grid;
  grid-template-columns: auto auto;
}
.news_class .verticalSlide .slick-list {
  grid-row: 1/2;
  grid-column: 2/3;
}
.news_class .verticalSlide .slick-list .item.slick-slide a {
  all: unset;
}
.news_class .verticalSlide .slick-list .item.slick-slide a section {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;
  padding: 5rem;
}
.news_class .verticalSlide .slick-list .item.slick-slide a section img {
  width: 60%;
  height: auto;
  aspect-ratio: 16/9;
  align-content: center;
}
.news_class .verticalSlide .slick-list .item.slick-slide a section h3 {
  padding-left: 1rem;
  width: 40%;
  font-size: 1.2rem;
  align-content: center;
  line-height: 1.6;
  letter-spacing: 1px;
}
.news_class .verticalSlide .slick-dots {
  grid-row: 1/2;
  grid-column: 1/2;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  gap: 15px;
}
.news_class .verticalSlide .slick-dots li button {
  font-size: 12px;
  border: none;
  background-color: #ffaaac;
  border-radius: 30rem;
  color: transparent;
}
.news_class .verticalSlide .slick-dots li.slick-active > button {
  background-color: #ec5355;
}
.news_class .owl-carousel-best {
  padding: 3rem 6rem 3rem 6rem;
}
.news_class .owl-carousel-best .item a {
  all: unset;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.news_class .owl-carousel-best .item a h3 {
  font-size: 1.3rem;
  margin: 1rem 0 2rem 0;
}
.news_class .owl-carousel-best .item a table a {
  color: #3c66ac;
}
.news_class .owl-carousel-best .item a table h4, .news_class .owl-carousel-best .item a table .right {
  text-align: right;
}
.news_class .owl-carousel-best .item a .table_font {
  color: black;
  font-size: 1.5rem;
}
.news_class .owl-carousel-best .item a .table_font i {
  margin: 0.5rem;
}

.videoSection > div {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto;
  transform: scale(0.9);
}
.videoSection > div .bgFigure {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: #ec5355;
  border-radius: 50rem 0 0 0;
  aspect-ratio: 16/9;
  margin: 1rem;
}
.videoSection > div iframe {
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 1rem;
  aspect-ratio: 16/9;
  width: 100%;
  transform: scale(0.9);
}
.videoSection > div .verticalSlideRight .cards {
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: auto auto;
  height: 35rem;
  padding: 1rem;
  transform: translateX(-30px) translateY(-20px) scale(0.9);
}
.videoSection > div .verticalSlideRight .cards a {
  all: unset;
  cursor: pointer;
  display: block;
  padding: 1.5rem;
}
.videoSection > div .verticalSlideRight .cards a img {
  width: 90%;
  border-radius: 1rem;
}
.videoSection > div .verticalSlideRight .cards .slick-dots {
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style-type: none;
}
.videoSection > div .verticalSlideRight .cards .slick-dots li button {
  font-size: 12px;
  border: none;
  background-color: #ffaaac;
  border-radius: 20rem;
  color: transparent;
}
.videoSection > div .verticalSlideRight .cards .slick-dots li.slick-active > button {
  background-color: #ec5355;
}

.new_class_titfont {
  color: #ec5355;
  text-align: center;
  font-size: 5rem;
  padding: 5rem 0 3rem 0;
  margin: 0;
  letter-spacing: 0.5rem;
}

.owl-carousel-recommend {
  padding: 3rem 6rem 3rem 6rem;
}
.owl-carousel-recommend .item a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.owl-carousel-recommend .item a h3 {
  font-size: 1.3rem;
  margin: 1rem 0 2rem 0;
}
.owl-carousel-recommend .item a h4 {
  font-size: 1.5rem;
}

.butmBanner {
  display: grid;
  grid-template-columns: auto;
  grid-row: auto auto;
}
.butmBanner .slick-list {
  grid-column: 1/2;
  grid-row: 1/3;
}
.butmBanner .slick-dots {
  grid-column: 1/2;
  grid-row: 2/3;
  z-index: 2;
  margin: 0;
  padding: 0;
}
.butmBanner img {
  width: 100%;
}
.butmBanner ul.slick-dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(183, 183, 183, 0.276);
}
.butmBanner ul.slick-dots li {
  list-style-type: none;
}
.butmBanner ul.slick-dots li button {
  all: unset;
  font-size: 1px;
  margin: 5px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.499);
  border-radius: 10px;
}
.butmBanner ul.slick-dots li.slick-active button {
  background-color: white;
}

footer {
  text-align: center;
  color: white;
}
footer .callAction {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .callAction h3 {
  font-size: 1.5rem;
  color: white;
  margin: 0;
  padding: 0;
  text-align: start;
  display: flex;
  justify-content: start;
  gap: 0.5rem;
}
footer .callAction .input-group-btn {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: -moz-fit-content;
  width: fit-content;
}
footer .callAction .input-group-btn span {
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem 0 1rem;
}
footer .callAction .input-group-btn .btn {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 1rem;
  color: white;
  background-color: black;
  border-radius: 0;
}
footer .contact {
  margin: 2rem;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer .contact div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 0 2rem 0;
}
footer .contact div p {
  width: 60%;
  font-size: 1.1rem;
  color: black;
  text-align: start;
}
footer .contact div p a {
  width: -moz-max-content;
  width: max-content;
  color: black;
}
footer .contact div a {
  display: flex;
  width: 20%;
  justify-content: end;
}
footer .contact div a img {
  height: auto;
}
footer .contact div .blankSpace {
  width: 10vw;
}
footer .mobileSocial {
  display: none;
  position: fixed;
  bottom: 0px;
  z-index: 5;
  background-color: white;
  width: 100%;
  padding: 1rem;
  flex-direction: row;
  justify-content: space-evenly;
}
footer .mobileSocial a {
  all: unset;
  display: block;
  cursor: pointer;
}
footer .mobileSocial a img {
  width: 5rem;
}

.btn_class {
  background-color: white;
  color: #3c66ac;
  border: 1px solid #3c66ac;
  font-size: 15px;
}

@media only screen and (min-width: 750px) and (max-width: 1000px) {
  #myCarousel .carousel-inner div > img {
    height: auto;
  }
}
@media only screen and (max-width: 750px) {
  header .wrapper .row {
    height: 30vh !important;
  }
  header .col-md-2 {
    gap: 1rem;
  }
  header .col-md-4 {
    margin: 1rem;
  }
  .wrapper > .row {
    flex-direction: column !important;
  }
  #myCarousel .carousel-inner div > img {
    height: auto;
  }
  .verticalSlide {
    padding: 1rem !important;
  }
  .verticalSlide .item.slick-slide a section {
    flex-direction: column;
    padding: 1rem !important;
  }
  .verticalSlide .item.slick-slide a section img {
    width: 100% !important;
  }
  .verticalSlide .item.slick-slide a section h3 {
    width: 100% !important;
    font-size: 1rem !important;
  }
  .bgFigure {
    display: none;
  }
  .videoSection > div {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
  }
  .videoSection > div iframe {
    margin: 0;
    width: 100% !important;
    border: solid #ec5355 0.5rem;
    border-radius: 2rem;
    transform: scale(1.05);
  }
  .videoSection > div .verticalSlideRight .cards {
    display: flex;
    transform: none;
  }
  .videoSection > div .verticalSlideRight .cards img {
    width: 100% !important;
    transform: scale(0.95);
  }
  .videoSection > div .verticalSlideRight .cards .slick-dots {
    display: none !important;
  }
  .verticalSlideRight {
    overflow-y: hidden;
  }
  .owl-carousel-new {
    height: 70vh;
    padding: 1rem !important;
  }
  .owl-carousel-best, .owl-carousel-recommend {
    padding: 1rem !important;
  }
  .callAction {
    flex-direction: column;
    gap: 1rem;
  }
  footer .mobileSocial {
    display: flex;
  }
  footer .contact div .deskLogo {
    display: none;
  }
  footer .contact div {
    flex-direction: column;
    align-items: center;
  }
  footer .contact div p {
    width: -moz-fit-content;
    width: fit-content;
  }
  footer .contact div a {
    width: -moz-fit-content;
    width: fit-content;
  }
  footer a.line {
    display: none;
  }
}/*# sourceMappingURL=broccoli-style.css.map */