// colors

$maincolor: #ec5355;
$lightcolor: #ffaaac;
$mainblue: #3c66ac;

// font

h3{
    color: $maincolor;
    font-weight: 900;
}

// default setting

body{
    background-color: $maincolor;
    a{color: white;}
    header{
        background-color: white;
        .wrapper{
            .row{
                width: 100%;
                height: 12rem;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                .col-md-3, .col-md-4, .col-md-5{
                    padding: 0;
                    display: flex;
                    justify-content: center;
                }
                .col-md-5{
                    font-size: 1.2rem;
                    .icon-bar{
                        display: flex;
                        flex-direction: row;
                        a{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            border-right: solid gray 1px;
                            padding: 0 1rem 0 1rem;
                            i{
                                color: $maincolor;
                            }
                        }

                    }
                }
            }
        }
        a{color: gray;}
        .nav, .nav-tabs{
            background-color: $maincolor;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            border: 0;
            a{color: white;}
        }
    }
    .row{margin: 0;}
    footer{
        a.line{
            display: block;
            position: fixed;
            bottom: 3rem;
            right: 2.5rem;
            width: 5%;
            z-index: 2;
            img{
                width: 100%;
            }
        }
    }
}


// special classes

.searchSection{
    display: flex;
    flex-direction: row;
    background-color: $maincolor;
    gap: 0.3rem;
    border: $maincolor solid 0.3rem;
    border-radius: 0.5rem;
    width: min-content;
    input{
        background-color: $maincolor;
        border: none;
        color: white;
        &::placeholder{
            color: rgba(255, 255, 255, 0.467);
        }
    }
    .form-control{
        width: fit-content;
    }
    >span{width: fit-content;}
    .dropdown-menu{
        background-color: $maincolor;
        a{color: white;}
    }
}

nav ul li a{
    &:hover{
        color: $maincolor;
    }
}

.dropdown-menu{
    background-color: $maincolor;
    a{color: white;}
}

// big carousel
#myCarousel{
    margin: 0 18% 0 18%;
    .carousel-indicators{
        background-color: gray;
        width: 100%;
        margin: 0;
        height: 4rem;
        bottom: 0;
        left: 0;
        align-content: center;
        opacity: 0.6;
    }
    .carousel-indicator-content{
        position: absolute;
        width: 100%;
        height: 4rem;
        bottom: 0;
        left: 0;
        align-content: center;
        z-index: 16;
        width: fit-content;
        color: white;
        margin: 0 0 0 1rem;
    }
    .carousel-inner{
        div>img{
            width: 100%;
        }
    }
}



.news_class {
    background-color: white;
    margin: 2rem 18% 2rem 18%;
    .verticalSlide{
        padding: 0 6rem 0 6rem;
        display: grid;
        grid-template-columns: auto auto;
        .slick-list{
            grid-row: 1/2;
            grid-column: 2/3;
            .item.slick-slide a section{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 40rem;
                padding: 5rem;
                img{
                    width: 60%;
                    height: 55%;
                    aspect-ratio: 16/9;
                    align-content: center;
                }
                h3{
                    padding: 1.5rem;
                    width: 50%;
                    font-size: 1.4rem;
                    align-content: center;
                    line-height: 1.6;
                    letter-spacing: 1px;
                }
            }
        }
        .slick-dots{
            grid-row: 1/2;
            grid-column: 1/2;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            list-style-type:none;
            li button{
                border: none;
                background-color: $lightcolor;
                border-radius: 20rem;
                color: transparent;
            }
            li.slick-active>button{
                background-color: $maincolor;
            }
        }
    }

    .owl-carousel-best{
        padding: 6rem;
        .item a{        
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h3{
                font-size: 1.5rem;
                margin: 1rem 0 2rem 0;
            }
            table{
                a{color: $mainblue;}
                h4, .right{text-align: right;}
            }
            .table_font {
                color: black;
                font-size: 1.5rem;
                i{margin: 0.5rem;}
            }}
    }
}

.videoSection{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto auto;
    padding: 0 5rem 5rem 5rem;
    h3{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .bgFigure{
        grid-column: 1/2;
        grid-row: 2/3;
        background-color: $maincolor;
        border-radius: 50rem 0 0 0;
        aspect-ratio: 16/9;
    }
    iframe{
        grid-column: 1/2;
        grid-row: 2/3;
        width: 100%;
        padding: 2rem;
        aspect-ratio: 16/9;
    }
    .verticalSlideRight{
        .cards{
            grid-column: 2/3;
            grid-row: 2/3;
            display: grid;
            grid-template-columns: auto auto;
            height: 35rem;
            padding: 1rem;
            a{
                display: block;
                padding: 2rem;
                img{
                    width: 100%;
                    border-radius: 1rem;
                }
            }
            .slick-dots{
                grid-column: 2/3;
                grid-row: 1/2;
                padding: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                list-style-type:none;
                li button{
                    border: none;
                    background-color: $lightcolor;
                    border-radius: 20rem;
                    color: transparent;
                }
                li.slick-active>button{
                    background-color: $maincolor;
                }
            }
        }
    }
}


.new_class_titfont {
    color: #ec5355;
    text-align: center;
    font-size: 30px;
    padding: 8rem 0 8rem 0;
    margin: 0;
}
// lz recommend
.owl-carousel-recommend{
    padding: 6rem;
    .item a{        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h3{
            font-size: 1.8rem;
            margin: 1rem 0 2rem 0;
        }
        h4{font-size: 1.5rem;}
    }
}

footer{
    text-align: center;
    color: white;
    .callAction{
        display: flex;
        align-items: center;
        justify-content: center;
        h3{
            font-size: 1.5rem;
            color: white;
            margin: 0;
        }
        .input-group-btn{
            display: flex;
            flex-direction: row;
            width: fit-content;
            .btn{
                display: block;
                width: fit-content;
                height: fit-content;
                font-size: 1rem;
                color: white;
                background-color: black;
                border-radius: 0;
                margin-right: 1rem;
            }
        }
    }
    .contact{
        margin: 2rem;
        padding-top: 2rem;
        background-color: white;
        p{
            color: black;
        }
    }
}


.btn_class {
    background-color: white;
    color: #3c66ac;
    border: 1px solid #3c66ac;
    font-size: 15px;
}

@media only screen and (max-width: 750px) {
    header .col-md-5{
        margin: 1rem;
    }

    .wrapper>.row{
        flex-direction: column !important;
    }
    .verticalSlide{
        padding: 1rem !important;
        .item.slick-slide a section{
            flex-direction: column;
            padding: 1rem !important;
            img{
                width:100% !important;
            }
            h3{
                width: 100% !important;
                font-size: 1rem !important;
            }
        }
    }

    .bgFigure{
        display: none;
    }
    .videoSection{
        display: flex;
        flex-direction: column;
        padding: 0 1rem 0 1rem;
        iframe{
            margin: 0;
            padding: 1rem;
            height: 30vh !important;
            border: solid $maincolor 1.5rem;
            border-radius: 2rem;
        }
    }

    .owl-carousel-new{
        height: 70vh;
        padding: 1rem !important;
    }

    .owl-carousel-best, .owl-carousel-recommend{
        padding: 1rem !important;
    }
    .callAction{
        flex-direction: column;
        gap: 1rem;
    }
  }
